@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* This maps 'font-sans' directly to your Next.js font variable */
  --font-sans: var(--font-plus-jakarta), ui-sans-serif, system-ui, sans-serif;
  
  /* Optional: You can also map your brand colors here if you want */
  --color-brand-green: #1AE100;
  --color-brand-dark: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
